/* Smooth Scroll */
html {
    scroll-behavior: smooth;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

nav ul li a:hover {
    color: #f176af;
}

/* Hero Section */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    min-height: 90vh;
    background: #f8f9fc;
}

/* Left Side */

.hero-text {
    width: 50%;
}

.hero-text h1 {
    font-size: 40px;
}

.hero-text span {
    color: #f176af;
}

.hero-text h2 {
    color: #444;
    margin: 10px 0;
}

.hero-text p {
    margin: 20px 0;
    color: #666;
    line-height: 1.6;
}

.hero-text button {
    padding: 12px 25px;
    background: #f176af;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero-text button:hover {
    background: #f176af;
}

/* Social Icons */

.icons {
    margin-top: 20px;
}

.icons img {
    width: 30px;
    margin-right: 15px;
    cursor: pointer;
}

/* Right Side */

.hero-img {
    width: 50%;
    display: flex;
    justify-content: center;
}

/* Circle Image */

.circle {
    width: 320px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle img {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    object-fit: cover;
}

/* Common Section Style */

.section {
    padding: 80px;
    background: white;
    text-align: center;
}

.section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.section p {
    color: #555;
    font-size: 18px;
    max-width: 700px;
    margin: auto;
    line-height: 1.6;
}

/* Skills Section */

.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.skill-box {
    background: #f2f4ff;
    padding: 15px;
    border-radius: 8px;
    font-weight: bold;
    color: #f176af;
    transition: 0.3s;
    cursor: pointer;
}

.skill-box:hover {
    background: #f176af;
    color: white;
    transform: scale(1.05);
}

/* Resume Button */

.resume-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #f176af;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.resume-btn:hover {
    background: #f176af;
}

/* Footer */

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
}
